<div id="first" ng-controller="formController" ng-init ="getFlight()">
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
    <script type="text/ng-template" id="myModalContent">
        <div class="modal-header">
            <h3 class="modal-title">{{ headerText }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ bodyText }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()" ng-if="buttonText2">{{ buttonText2 }}</button>
            <button class="btn btn-primary" ng-click="ok()">{{ buttonText }}</button>
        </div>
    </script>
    <script type="text/ng-template" id="warning-dialog.html">
        <div class="modal-header">
            <h3>You're Idle. Do Something!</h3>
        </div>
        <div idle-countdown="countdown" ng-init="countdown=10" class="modal-body">
            <uib-progressbar max="10" value="10" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</uib-progressbar>
        </div>

    </script>
    <script type="text/ng-template" id="timedout-dialog.html">
        <div class="modal-header">
            <h3>You've Timed Out!</h3>
        </div>
        <div class="modal-body">
            <p>
                You were idle too long. Normally you'd be logged out, but in this demo just do anything and you'll be reset.
            </p>
        </div>
    </script>
    <h2 class="title">Search Flight</h2>
    <div style="background-color: #b3d4fc;">
        <label class="col-sm-4">
            <input type="radio" ng-model="FlightType" value="one" name="optradio">One-Way
        </label>
        <label class="col-sm-4">
            <input type="radio" ng-model="FlightType"   value="two" name="optradio">Round-Trip
        </label>
        <label class="col-sm-4">
            <input type="radio" ng-model="FlightType" value="Multiple" name="optradio">Multiple destinations
        </label>
    </div>

    <p>* Trường bắt buộc nhập thông tin</p>
    <div>
        <h2>Chuyến bay</h2>
        <div  id ="Destination" class="row" >
            <fieldset data-ng-repeat="choice in choices">
                <div style="text-align: center" class="col-sm-4" >
                    <label>Ngày bay</label>
                    <div class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <input type="text" datefilter class="form-control" ng-model="choice.date" id="datefilter"  avalue="" name="datefilter"/>
                    </div>
                </div>
                <div style="text-align: center" class="col-sm-4" >
                    <label>Từ</label>
                    <input type="text" ng-model="choice.flightdepart"  typeahead-on-select="getFlightback(choice.flightdepart)" placeholder="Điểm xuất phát"
                           uib-typeahead="state as state.Ten for state in flightsdepart | filter:{Ten:$viewValue}"
                           typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                </div>
                <div style="text-align: center" class="col-sm-4" >
                    <label>Đến</label>
                    <input type="text" ng-model="choice.arrival"  placeholder="Điểm đến"
                           uib-typeahead="state as state.Ten for state in flightsback | filter:{Ten:$viewValue}"
                           typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0"/>
                </div>
                <button class="remove" ng-show="$last && isMany" ng-click="removeChoice()">x</button>
            </fieldset>
        </div>
    <button class="addfields" ng-show="isMany" ng-click="addNewChoice()">Add fields</button>
    </div>
    <div id="Passenger">
            <div class=row">
                <h2>Hành khách</h2>
                <div class="col-xs-4">
                    <label>Người lớn</label>
                    <label>
                        <select class="form-control" ng-model="adult"
                                ng-options="opt for opt in options.adult"></select>
                    </label>
                </div>
                <div class="col-xs-4">
                    <label>Trẻ em</label>
                    <label>
                        <select class="form-control" ng-model="children"
                                ng-options="opt for opt in options.children"></select>
                    </label>
                </div>
                <div class="col-xs-4">
                    <label>Trẻ sơ sinh</label>
                    <label>
                        <select class="form-control" ng-model="baby" ng-options="opt for opt in options.baby"></select>
                    </label>
                </div>
            </div>
        </div>
        <div id="Other">
            <div class="row">
                <h2>Khác</h2>
                <div>
                    <div class="col-xs-4">
                        <label>Tiền tệ</label>
                        <input type="text" class="form-control" ng-model="currency" required>
                    </div>
                </div>
            </div>
        </div>
        <div id="Checkconfirm"layout="row" style="margin-top: 12%">
            <label>
                <input type="checkbox" required>
                Tôi đồng ý với các điều khoản bảo mật thông tin
            </label>
        </div>
    <div class="col-xs-6 col-xs-offset-3">
        <a  ng-click="SaveInfo()" class="btn btn-block btn-info">
            Tìm chuyến bay <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
