<div class="container">
    <div class="col-sm-10 col-sm-offset-1">

        <div id="form-container">

            <div class="page-header text-center">
                <h2>Have a safe flight</h2>

                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref -->
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".search"><span>1</span> Search Flight</a>
                    <a ui-sref-active="active" ui-sref=".registerflight"><span>2</span>Register Flight</a>
                    <a ui-sref-active="active" ui-sref=".registerinfo"><span>3</span>Passenger</a>
                    <a ui-sref-active="active" ui-sref=".payment"><span>4</span>Payment</a>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="signup-form" ng-submit="processForm()">
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>

        </div>

    </div>
</div>

