<form ng-controller="flightController">

    <div class="table-reponsive">
        <div >
            <fieldset class="infoflight" ng-repeat="result in results">
                <H2>Lựa chọn chuyến bay {{result.id+1}}</H2>
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Mã chuyến bay</th>
                        <th>Giờ bay</th>
                        <th>Số chỗ</th>
                        <th>Giá vé</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="flight in result.flights" ng-click="chonChuyenBay(result.id,flight)">
                    <tr class="infoticket" >
                        <td>{{flight.Ma}}</td>
                        <td>{{flight.GioBay}}</td>
                        <td>
                            <span>{{flight.SoGhe}}</span>
                            <span>chỗ</span>
                        </td>
                        <td>
                            <input type="radio" name={{result.id+1}} ng-model="flight.selected" ng-value="flight.GiaBan" required >
                            <span>{{flight.GiaBan}}</span>
                            <span>VND</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a ng-click="submit()" class="btn btn-block btn-info">
                Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
    <div class="table-reponsive">
        <div >
            <fieldset class="infoflight">
                <H2>Các chuyến bay tham khảo</H2>
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Hãng bay</th>
                        <th>Giờ đi</th>
                        <th>Giờ đến</th>
                        <th>Thời gian bay</th>
                        <th>Giá vé</th>
                        <th>Dịch vụ</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in nlinks">
                    <tr class="infoticket" >
                        <td>{{item.Hang}}</td>
                        <td>{{item.GioDi}}</td>
                        <td>{{item.GioDen}}</td>
                        <td>{{item.ThoiGianBay}}</td>
                        <td>{{item.Gia}}</td>
                        <td>{{item.TenTrangWeb}}</td>
                        <td>
                            <a class="btn btn-success" type="button" href="{{item.Url}}">Đăng ký ngay!!!</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</form>
