<form class="container"  ng-controller="infoController" ng-submit="SaveInfo()">
    <div>
        <h2>Thông tin khách hàng</h2>
        <button style="float:right"class="btn-primary" ng-click="addFormPass()">Thêm khách hàng</button>
        <div ng-repeat="item in numpassenger track by item.id"  >

            <div class="form-group row">
                <label for="alias"  class="col-xs-3 col-form-label">Danh xưng</label>
                <div class="col-xs-4">
                    <select required  id="alias" class="form-control" ng-model="item.calls" ng-options="opt for opt in options.calls"></select>
                </div>
            </div>
            <div class="form-group row">
                <label for="familyname" class="col-xs-3 col-form-label">Họ & tên đệm</label>
                <div class="col-xs-6">
                    <input required type="text" class="form-control" id="familyname" placeholder="Nguyễn Văn" ng-model="item.familyname">
                </div>
            </div>
            <div class="form-group row">
                <label for="name"  class="col-xs-3 col-form-label">Tên</label>
                <div class="col-xs-4">
                    <input required type="text" class="form-control" id="name" placeholder="A" ng-model="item.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="birthday" class="col-xs-3 col-form-label">Ngày sinh</label>
                <div class="col-xs-4">
                    <div class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <input type="text"  class="form-control" ng-model="item.birthday" id="birthday"  avalue="" name="birthday"/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <button style="float:right"class="btn-primary" ng-click="removeFormPass(item)">Xóa khách hàng</button>
            </div>
        </div>
    </div>
    <div id="contact">
            <h2>Thông tin liên hệ</h2>
        <div class="form-group row">
            <label for="aliascontact"  class="col-xs-3 col-form-label">Danh xưng</label>
            <div class="col-xs-4">
                <select required  id="aliascontact" class="form-control" ng-model="callscontact" ng-options="opt for opt in options.calls"></select>
            </div>
        </div>
        <div class="form-group row">
            <label for="familynamecontact" class="col-xs-3 col-form-label">Họ & tên đệm</label>
            <div class="col-xs-6">
                <input required type="text" class="form-control" id="familynamecontact" placeholder="Nguyễn Văn" ng-model="familynamecontact">
            </div>
        </div>
        <div class="form-group row">
            <label for="namecontact"  class="col-xs-3 col-form-label">Tên</label>
            <div class="col-xs-4">
                <input required type="text" class="form-control" id="namecontact" placeholder="A" ng-model="namecontact">
            </div>
        </div>
        <div class="form-group">
            <label for="Emai1">Email</label>
            <input type="email" class="form-control" id="Emai1" aria-describedby="emailHelp" ng-model="mailcontact" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">
                Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất cứ ai khác.</small>
        </div>
        <div class="form-group">
            <label for="telephone" class="col-xs-2 col-form-label">Điện thoại</label>
            <div class="col-xs-4">
                <input required class="form-control" id="telephone" type="tel" ng-model="phonecontact" value="1-(555)-555-5555">
            </div>
        </div>

    </div>
    <div style="margin-top: 40px ;float:right" layout="column" class="col-xs-10">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="inner-addon right-addon">
                <input type="submit" ng-click="submit()" class="btn btn-block btn-info" value="Next Section">
                <i class="glyphicon glyphicon-circle-arrow-right"></i>
            </div>
        </div>
    </div>
</form>