<div class="ng-scope" ng-controller="paymentController" >
        <div>
            <fieldset class="infoflight" ng-repeat="result in results">
                <H2>Chuyến Bay {{result.id + 1}}</H2>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>
                            Từ <b> {{result.flightdepart.Ten}}</b>
                        </td>
                        <td>
                            Đến <b> {{result.arrival.Ten}}</b>
                        </td>
                        <td>
                            Mã chuyến bay <b> {{result.MaChuyenBay}}</b>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <tr>
                    <td>Thời gian khởi hành: <strong>{{result.ThoiGianDi}}</strong></td>
                </tr>
                <h4 class="head-title1"  >Chi tiết Giá</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Số lượng</th>
                        <th>Hành khách</th>
                        <th>Giá</td>
                        <th>Thuế &amp; Phí</th>
                        <th>Tổng cộng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="result.adult>0">
                        <td>{{result.adult}}</td>
                        <td>Người lớn</td>
                        <td><span class="currency">{{result.adultprice}} VNĐ</span></td>
                        <td><span class="currency">{{result.thue}} VNĐ</span></td>
                        <td><span class="currency">{{result.adultmoney}} VNĐ</span></td>
                    </tr>
                    <tr ng-show="result.child>0">
                        <td>{{result.child}}</td>
                        <td>Trẻ em</td>
                        <td><span class="currency">{{result.childprice}} VNĐ</span></td>
                        <td><span class="currency">{{result.thuetreem}} VNĐ</span></td>
                        <td><span class="currency">{{result.childmoney}} VNĐ</span></td>
                    </tr>
                    </tbody>
                </table>
                <h5 style="color: tomato"><b>Tổng cộng: </b>&nbsp;<strong><span class="currency">{{result.adultmoney+result.childmoney}}</span></strong></h5>
            </fieldset>
        </div>
        <h4 style="color: #204d74;
font-family: GraublauWeb;
font-size: 18px;
font-weight: bold;
margin: 15px 0;
text-transform: uppercase;">Thông tin liên hệ</h4>
        <ul class="customer-info">
            <li><span>Họ &amp; Tên: </span> {{fullname}} </li>
            <li><span>Điện thoại: </span>{{phone}}</li>
            <li><span>Email: </span>{{emailcontact}}</li>
        </ul>
        <h3 style="color: tomato">GIÁ VÉ: <span class="currency">{{TongTien}}</span> <br>
            <!--                  <div style="font-size: 16px; padding-top: 9px; color: tomato;">Phí xuất vé: <span class="currency">0 VNĐ</span></div> -->
        </h3>

        <div class="text-center">
            <button class="btn btn-primary" type="submit" ng-click="submit()">XÁC NHẬN THÔNG TIN &amp; ĐẶT VÉ</button>
            <br>
            <br>
            <br>
            <br>
        </div>
        <style>
            #submitFlight.fixed {
                border: 1px dashed rgb(237, 27, 36);
            }
        </style>
</div>
