<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cheap Flight</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>


</head>
<body ng-app="myApp" ng-controller="NavbarCtrl">
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" ui-sref-active="active" ui-sref="home">
    <img src="airplane.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <ul class="nav navbar-nav">
    <li class="active"><a style="font-size:20px" ui-sref-active="active" ui-sref=".home">Trang chủ</a></li>
    <li><a  style="font-size:20px" ui-sref-active="active" ui-sref=".form">Tìm kiếm chuyến bay</a>
    <li ng-if="isAuthenticated()"><a ui-sref="profile">Profile</a></li>
  </ul>
  <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a ui-sref-active="active" ui-sref="login">Login</a></li>
    <li><a ui-sref="signup">Sign up</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a ui-sref="logout">Logout</a></li>
  </ul>
</nav>
<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!-- views will be injected here -->
  <div>
    <div ui-view></div>
  </div>


  <div>Cheap app: <span app-version></span></div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>

  <script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ng-idle/angular-idle.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <script src="lib/angular-animate.js"></script>
  <script src="lib/angular-sanitize.js"></script>
<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
<script src="bower_components/satellizer/dist/satellizer.js"></script>

<script src="app.js"></script>
  <script src="flightController.js"></script>
  <script src="infoController.js"></script>
  <script src="form-payment.js"></script>
  <script src="directives/passwordStrength.js"></script>
  <script src="directives/passwordMatch.js"></script>
  <script src="controllers/login.js"></script>
  <script src="controllers/signup.js"></script>
  <script src="controllers/logout.js"></script>
  <script src="controllers/profile.js"></script>
  <script src="controllers/navbar.js"></script>
  <script src="services/account.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
