<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CHEAP FLIGHT</title>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="font/font-icon/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body style="background-color: orange" >
<form class="container" ng-controller="validateCtrl"  ng-submit="submit()" ng-init ="updateFactory()">
    <div class="table-reponsive">
        <div class="dapartureFlightOptions">
            <div class="infoflight">
                <H2>1. Lựa chọn chuyến bay đi</H2>

            </div>
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Mã chuyến bay</th>
                    <th>Giờ bay</th>
                    <th>Số chỗ</th>
                    <th>Giá vé</th>
                </tr>
                </thead>
                <tbody ng-repeat="item in depart">
                <tr class="infoticket" >
                    <td>{{item.Ma}}</td>
                    <td>{{item.ThoiGianDi}}</td>
                    <td>
                        <span>{{item.SoGhe}}</span>
                        <span>chỗ</span>
                    </td>
                    <td>
                        <input type="radio" name="chooseTicketA" ng-model="$parent.ticket1price" value="{{item.valueC}}" required >
                        <span>{{item.priceC}}</span>
                        <span>VND</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="ReturnFlightOptions" ng-hide="!isTwoWay">
            <div class="infoflight">
                <h2>2. Lựa chọn chuyến bay về</h2>

            </div>
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Mã chuyến bay</th>
                    <th>Giờ bay</th>
                    <th>Số chỗ</th>
                    <th>Giá vé</th>
                </tr>
                </thead>
                <tbody ng-repeat="item in back">
                <tr class="infoticket" >
                    <td>{{item.Ma}}</td>
                    <td>{{item.ThoiGianDi}}</td>
                    <td>
                        <span>{{item.SoGhe}}</span>
                        <span>chỗ</span>
                    </td>
                    <td>
                        <input type="radio" name="chooseTicketB" ng-model="$parent.ticket2price" value="{{item.valueC}}" required>
                        <span>{{item.priceC}}</span>
                        <span>VND</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5" style="text-align:center;">
            <input type="submit" class="btn btn-primary" value="Tiếp tục">
        </div>
    </div>
</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/angular-sanitize.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="js/ui-bootstrap-tpls-2.2.0.min.js"></script>
<script src="js/flightregister.js"></script>
</body>

</html>
